<%= form_with(model: trip, local: true) do |form| %>
  <% if trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "件") %>のエラーが見つかりました</h2>
      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, autofocus: true, :placeholder => "タイトル（35文字以内）" %>
  </div>

  <% unless current_page?(new_trip_path) || trip.place.nil? %>
    <h4><i class="fas fa-map-marker-alt"></i>
      現在の目的地: <span class="current_place"><%= trip.place.name_jp %> 
      <i class="flag-icon flag-icon-<%= trip.place.code.downcase %>"></i><span>
    </h4>
    <br>
  <% end %>

  <div class="field">
    <%= form.label "目的地（国名まで必須）" %>
    <%= collection_select :place, :region, @regions, :id, :name_jp, include_blank: "エリアを選択してください", selected: params.dig(:place, :region) %>
    <%= select :place, :country, [], include_blank: "国を選択してください", class: "default-country-select" %>
    <%= select :place, :city, [], include_blank: "都市を選択してください", class: "default-city-select" %>
      <% @regions.each do |region| %>
        <template id="country-of-region_<%= region.id %>">
          <%= collection_select :place, :country, region.children, :id, :name_jp, include_blank: "国を選択してください", selected: params.dig(:place, :country) %>
        </template>
          <% region.children.each do |country| %>
            <template id="city-of-country_<%= country.id %>">
              <%= collection_select :place, :city, country.children, :id, :name_jp, include_blank: "都市を選択してください", selected: params.dig(:place, :city) %>
            </template>
          <% end %>
      <% end %>
    <div class="hint"><i class="far fa-lightbulb"></i> 都市がない場合は、旅の詳細欄に書こう！</div>
  </div>

  <div class="field">
    <%= form.label :start_on %>
    <%= form.text_field :start_on, class:"datepicker", :placeholder => "出発日を選択" %>
  </div>

  <div class="field">
    <%= form.label :finish_on %>
    <%= form.text_field :finish_on, class:"datepicker", :placeholder => "到着日を選択" %>
  </div>

  <div class="field">
    <%= form.label :flexible %>
    <%= form.check_box :flexible %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, :placeholder => "詳しい目的地、旅の中でしたいことなど（1000字以内）" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btntextchange" %>
  </div>
<% end %>
