<p id="notice"><%= notice %></p>

<h1>Trips</h1>
<%= search_form_for @q do |f| %>
  <%= f.label :country, '国名で検索' %>
  <%= f.select :country_eq ,Trip.countries, {include_blank: '----------'} %>
<br>
  <%= f.label :start_on, '期間で検索' %>
  <%= f.date_field :start_on_gteq %>〜
  <%= f.date_field :finish_on_lteq %>

  <%= f.submit '検索' %>
<% end %>
<%= sort_link(@q, :start_on, "出発日順") %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Country</th>
      <th>City</th>
      <th>Start on</th>
      <th>Finish on</th>
      <th>Flexible</th>
      <th>Description</th>
      <th>Goal</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <div class="scroll-list jscroll">
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.title %></td>
        <td><%= trip.country %></td>
        <td><%= trip.city %></td>
        <td><%= trip.start_on %></td>
        <td><%= trip.finish_on %></td>
        <td><%= trip.flexible %></td>
        <td><%= trip.description %></td>
        <td><%= trip.goal %></td>
        <td><%= trip.user.name %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%= paginate @trips %>
  </div>
  </tbody>
</table>

<div class="scroll-list jscroll">
    <% @trips.each do |trip| %>     
    <article>
      <h3><%= trip.title %></h3>
      <%# <p><%= trip.content.truncate(25) %>
      <p class="morebt">
        <%= link_to 'もっと見る', trip %> 
        <%= link_to '編集する', edit_trip_path(trip) %> 
        <%= link_to '削除する', trip, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    </article>
    <% end %>
    <%= paginate @trips %>
  </div>

<br>

<%= link_to 'New Trip', new_trip_path %>

<script>
  $(function() {
    $('.jscroll').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a'
    });
  });
</script>
