<h2>Find Trips</h2>
<p>旅を検索する</p>

<%= search_form_for @q do |f| %>
  <%= f.search_field :place_name_jp_or_place_name_en_or_title_or_description_cont, :placeholder => "目的地（日本語 or 英語）・キーワードで検索" %>
  <br>
  <div class="search_date_area">
    <%= f.date_field :start_on_gteq, class:"search_date" %> 〜
    <%= f.date_field :finish_on_lteq, class:"search_date" %>
  </div>
  <%= f.submit '検索', class:"btntextchange search" %>
<% end %>
<%= sort_link(@q, :start_on, "出発日順に並び替え") %>

<div class="animate__animated animate__bounceInRight">
  <%= link_to new_trip_path do %>
    <h5><i class="fas fa-pencil-alt"></i> 投稿する</h5>
  <% end %>
</div>

<p><i class="fas fa-star"></i> お気に入り <i class="fas fa-child"></i> 参加中 <i class="fas fa-check-circle"></i> 終了済み</p>

<hr>
<% if @trips.empty? %>
  <br>
  検索結果が見つかりませんでした
<% end %>

<div class="scroll-list jscroll">
  <ul class="cards">
    <% @trips.each do |trip| %>
      <li>
        <%= link_to trip, data: {"turbolinks" => false}, class:"card" do %>
        <div class="trip_status">
          <% if trip.favorites.where(user_id: current_user.id).present? %>
            <p><i class="fas fa-star"></i></p>
          <% end %>
          <% if trip.members.where(user_id: current_user.id).present? %>
            <p><i class="fas fa-child"></i></p>
          <% end %>
          <% if trip.goal %>
            <p><i class="fas fa-check-circle"></i></p>
          <% end %>
        </div>
          <h4 class="trip_title"><%= trip.title %></h4>
          <div class="place">
            <%= trip.place.name_jp unless trip.place.ancestry&.include?('/') %>
            <%= trip.place.parent.name_jp if trip.place.ancestry&.include?('/') %>
            <% if trip.place.ancestry&.include?('/') %> / <% end %>
            <%= trip.place.name_jp if trip.place.ancestry&.include?('/') %>
          </div>
          <p><%= trip.start_on %> ~ <%= trip.finish_on %></p>
          <div class="card__trip_description"><%= trip.description.truncate(47) %></div>
          <div class="card__overlay">
            <div class="card__header">
              <% if trip.user.profile.icon? %>
                <%= image_tag trip.user.profile.icon.url, class:"card__icon" %>
              <% else %>
                <%= image_tag asset_path("default_icon.png"), class:"card__icon" %>
              <% end %>
              <div class="card__header-text">
                <h3 class="card__title"><%= trip.user.name %></h3>            
                <span class="card__status">
                  <%= trip.user.profile.place.name_jp unless trip.user.profile.place.ancestry&.include?('/') %>
                  <%= trip.user.profile.place.parent.name_jp if trip.user.profile.place.ancestry&.include?('/') %>
                  <% if trip.user.profile.place.ancestry&.include?('/') %> / <% end %>
                  <%= trip.user.profile.place.name_jp if trip.user.profile.place.ancestry&.include?('/') %>
                </span>
              </div>
            </div>
            <p class="card__description"><%= trip.user.profile.first_language %> <%= trip.user.profile.second_language %></p>
          </div>
        <% end %>   
      </li>
    <% end %>
  </ul>
  <%= paginate @trips %>
</div>

<script>
  $(function() {
    $('.jscroll').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a'
    });
  });
</script>
