<h1>Trips</h1>
<%= search_form_for @q do |f| %>
  <%= f.label :country, '国名で検索' %>
  <%= f.select :country_eq ,Trip.countries, {include_blank: '----------'} %>
<br>
  <%= f.label :start_on, '期間で検索' %>
  <%= f.date_field :start_on_gteq %>〜
  <%= f.date_field :finish_on_lteq %>

  <%= f.submit '検索' %>
<% end %>
<%= sort_link(@q, :start_on, "出発日順") %>

<div class="scroll-list jscroll">
  <ul class="cards">
    <% @trips.each do |trip| %>
      <li>
        <%= link_to trip, class:"card" do %>
          <h4><%= trip.title %></h4>
          <div class="place"><%= trip.country %> / <%= trip.city %></div>
          <p><%= trip.start_on %> ~ <%= trip.finish_on %></p>
          <div class="card__trip_description"><%= trip.description.truncate(47) %></div>
          <div class="card__overlay">
            <div class="card__header">
              <%= image_tag trip.user.profile.icon.url, class:"card__icon" %>
              <div class="card__header-text">
                <h3 class="card__title"><%= trip.user.name %></h3>            
                <span class="card__status"><%= trip.user.profile.home_country %> / <%= trip.user.profile.home_city %></span>
              </div>
            </div>
            <p class="card__description"><%= trip.user.profile.first_language %>, <%= trip.user.profile.second_language %></p>
          </div>
        <% end %>   
      </li>
    <% end %>
  </ul>
  <%= paginate @trips %>
</div>

<br>

<%= link_to 'New Trip', new_trip_path %>

<script>
  $(function() {
    $('.jscroll').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a'
    });
  });
</script>
