<p id="notice"><%= notice %></p>

<h1>Trips</h1>
<%= search_form_for @q do |f| %>
  <%= f.label :title, 'タイトルで検索' %>
  <%= f.search_field :title_cont %>
<br>
  <%= f.label :country, '国名で検索' %>
  <%= f.select :country_eq ,Trip.countries, {include_blank: '----------'} %>
<br>
  <%= f.label :start_on, '期間で検索' %>
  <%= f.date_field :start_on_gteq %>〜
  <%= f.date_field :finish_on_lteq %>

  <%= f.submit '検索' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Country</th>
      <th>City</th>
      <th>Start on</th>
      <th>Finish on</th>
      <th>Flexible</th>
      <th>Description</th>
      <th>Goal</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.title %></td>
        <td><%= trip.country %></td>
        <td><%= trip.city %></td>
        <td><%= trip.start_on %></td>
        <td><%= trip.finish_on %></td>
        <td><%= trip.flexible %></td>
        <td><%= trip.description %></td>
        <td><%= trip.goal %></td>
        <td><%= trip.user.name %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
