<h2>Find Trips</h2>
<p>旅を検索する</p>

<%= search_form_for @q do |f| %>
  <%= f.search_field :place_name_jp_or_place_name_en_or_title_or_description_cont, :placeholder => "目的地（日本語 or 英語）・キーワードで検索" %>
  <br>
  <div class="search_date_area">
    <%= f.date_field :start_on_gteq, class:"search_date" %> 〜
    <%= f.date_field :finish_on_lteq, class:"search_date" %>
  </div>
  <%= f.submit '検索', class:"btntextchange search" %>
<% end %>
<%= sort_link(@q, :start_on, "出発日順に並び替え") %>

<div class="animate__animated animate__bounceInRight">
  <%= link_to new_trip_path, data: {"turbolinks" => false} do %>
    <h5><i class="fas fa-pencil-alt"></i> 投稿する</h5>
  <% end %>
</div>

<p><i class="fas fa-star"></i> お気に入り <i class="fas fa-child"></i> 参加中 <i class="fas fa-check-circle"></i> 終了済み</p>

<hr>
<% if @trips.empty? %>
  <br>
  検索結果が見つかりませんでした
<% end %>

<%= render 'list', trips: @trips %>
