<h1>Find Trips</h1>
<%= search_form_for @q do |f| %>
  <%= f.search_field :place_name_jp_or_place_name_en_or_title_or_description_cont, :placeholder => "目的地（日本語 or 英語）・キーワードで検索" %>
  <br>
  <div class="search_date_area">
    <%= f.date_field :start_on_gteq, class:"search_date" %> 〜
    <%= f.date_field :finish_on_lteq, class:"search_date" %>
  </div>
  <%= f.submit '検索', class:"btntextchange search" %>
<% end %>
<%= sort_link(@q, :start_on, "出発日順に並び替え") %>
<hr>

<div class="scroll-list jscroll">
  <ul class="cards">
    <% @trips.each do |trip| %>
      <li>
        <%= link_to trip, data: {"turbolinks" => false}, class:"card" do %>
        <div class="trip_status">
          <% if trip.favorites.where(user_id: current_user.id).present? %>
            <p><i class="fas fa-star"></i></p>
          <% end %>
          <% if trip.members.where(user_id: current_user.id).present? %>
            <p><i class="fas fa-child"></i></p>
          <% end %>
        </div>
          <h4><%= trip.title %></h4>
          <div class="place">
            <%= trip.place.name_jp unless trip.place.ancestry&.include?('/') %>
            <%= trip.place.parent.name_jp if trip.place.ancestry&.include?('/') %>
             / 
            <%= trip.place.name_jp if trip.place.ancestry&.include?('/') %>
          </div>
          <p><%= trip.start_on %> ~ <%= trip.finish_on %></p>
          <div class="card__trip_description"><%= trip.description.truncate(47) %></div>
          <div class="card__overlay">
            <div class="card__header">
              <%= image_tag trip.user.profile.icon.url, class:"card__icon" %>
              <div class="card__header-text">
                <h3 class="card__title"><%= trip.user.name %></h3>            
                <span class="card__status">
                  <%= trip.user.profile.place.name_jp unless trip.user.profile.place.ancestry&.include?('/') %>
                  <%= trip.user.profile.place.parent.name_jp if trip.user.profile.place.ancestry&.include?('/') %>
                   / <%= trip.user.profile.place.name_jp if trip.user.profile.place.ancestry&.include?('/') %>
                </span>
              </div>
            </div>
            <p class="card__description"><%= trip.user.profile.first_language %>, <%= trip.user.profile.second_language %></p>
          </div>
        <% end %>   
      </li>
    <% end %>
  </ul>
  <%= paginate @trips %>
</div>

<br>

<%= link_to 'New Trip', new_trip_path %>

<script>
  $(function() {
    $('.jscroll').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a'
    });
  });
</script>
