<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @trip.title %>
</p>

<p>
  <strong>Country:</strong>
  <%= @trip.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @trip.city %>
</p>

<p>
  <strong>Start on:</strong>
  <%= @trip.start_on %>
</p>

<p>
  <strong>Finish on:</strong>
  <%= @trip.finish_on %>
</p>

<p>
  <strong>Flexible:</strong>
  <%= @trip.flexible %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @trip.goal %>
</p>

<p>
  <strong>User:</strong>
  <%= @trip.user.name %>
</p>

<% unless @trip.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'いいね解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to 'いいねする', favorites_path(trip_id: @trip.id), method: :post, class: 'btn btn-danger' %>
  <% end %>
<% end %>

<% unless @trip.user_id == current_user.id %>
  <% if @member.present? %>
    <%= link_to '参加解除する', member_path(id: @member.id), method: :delete, class: 'btn btn-primary' %>
  <% else %>
    <%= link_to '旅人として参加する', members_path(trip_id: @trip.id, as: 1), method: :post, class: 'btn btn-danger' %>
    <%= link_to '現地人として参加する', members_path(trip_id: @trip.id, as: 2), method: :post, class: 'btn btn-danger' %>
  <% end %>
<% end %>

<!-- コメント一覧-->
<div class="comment_area">
  <p>Comments</p>
  <!-- このcomments_areaというHTMLのidを取得して、このdivの中にあるHTMLの要素をJavaScript（Ajax）で書き換え -->
  <div id="comments_area">
    <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender パーシャルを表示 comments/_index.html.erb -->
    <%= render partial: 'comments/index', locals: { comments: @comments, trip: @trip } %>
  </div>
  <!-- コメント入力欄をブログの詳細ページに表示するためのrender パーシャルを表示 comments/_form.html.erb -->
  <%= render partial: 'comments/form', locals: { comment: @comment, trip: @trip } %>
</div>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
