<div class="trip__area <%= "finished" if @trip.goal %>">
  <article>
    <div class="col-sm-6">
      <h1><%= @trip.title.truncate(35) %></h1>

      <hr>

      <p>
        <i class="fas fa-map-marker-alt"></i>
        <%= @country.name_jp %> / <%= @city.name_jp if @city.present? %>
      </p>

      <p>
        <i class="far fa-calendar-alt"></i>
        <%= @trip.start_on %> - <%= @trip.finish_on %>
        <% if @trip.flexible %>
          (<%= t('activerecord.attributes.trip.flexible') %>)
        <% end %>
      </p>

      <p class="content">
        <%= @trip.description %>
      </p>

      <p>
        <i class="fas fa-flag-checkered"></i>
        <% if @trip.goal %>
          終了済
        <% else %>
          募集中
        <% end %>
      </p>

      <!---favorite--->
      <p>
        <i class="fas fa-star"></i>
        <%= @trip.favorites.count %>人がお気に入り
        <% unless @trip.user_id == current_user.id %>
          <% if @favorite.present? %>
            <%= link_to 'お気に入り解除', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to 'お気に入りする', favorites_path(trip_id: @trip.id), method: :post, class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      </p>

      <!---member--->
      <p>
        <i class="fas fa-child"></i>
        <%= @members.count %>人が参加中 ( visiter:<%= @visiters %> / local:<%= @locals %> )
        <% unless @trip.user_id == current_user.id %>
          <% if @member.present? %>
            <%= link_to '参加キャンセル', member_path(id: @member.id), method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= link_to '一緒に旅をする', members_path(trip_id: @trip.id, as: 1), method: :post, class: 'btn btn-primary' %>
            <%= link_to 'ローカルとして参加', members_path(trip_id: @trip.id, as: 2), method: :post, class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      </p>

      <div class="list">
      <ul>
        <li><strong><%= @trip.user.name %></strong></li>
        <% @members.each do |member| %>
          <%= link_to profile_path(member.user.id) do %>
            <li><%= member.user.name %>
              <% if member.as == 2 %>
                <i class="fas fa-street-view"></i>
              <% end %>
            </li>  
          <% end %>
        <% end %>
      </ul>  
      </div>


      <p>
        <%= link_to profile_path(@trip.user.profile.id) do %>
          <%= image_tag @trip.user.profile.icon.url, class: "trip_icon"%>
          <%= @trip.user.name %>
        <% end %>
      </p>

      <!---goal--->
      <p>
        <% if @trip.user.id == current_user.id %>
          <% if @trip.goal %>
            <%= link_to "再開する", change_goal_trip_path(goal: false), method: :post, class: 'btn btn-sm btn-danger' %>
          <% else %>
            <%= link_to "旅を終了する", change_goal_trip_path(goal: true), method: :post, class: 'btn btn-sm btn-primary' %>
          <% end %>
        <% end %>
      </p>
      <!-- English ver. <p class="date_trip"><%= pluralize(@date, "day", locale: :en) %> ago</p> -->
      <p class="date_trip"><i class="far fa-clock"></i>
        <% if @duration <= 24 %>
          <%= "#{@duration}時間前" %>
        <% else %>
          <%= "#{@duration/24}日前" %>
        <% end %>
      </p>

    </div>

    <div class="col-sm-6">
      <!---map--->
    <p>
    <%= @from.name_en %> <i class="flag-icon flag-icon-<%= @from.code.downcase %>"></i>
    <i class="fas fa-plane"></i>
    <%= @to.name_en %>
    <i class="flag-icon flag-icon-<%= @to.code.downcase %>"></i>
    (<%= @to.distance_to(@from).floor %> miles)</p>
    
    <div id="map"></div>

    <script>
      function initMap() {
        
        var from = { lat: <%= @from.latitude %>, lng: <%= @from.longitude %> };
        var to = { lat: <%= @to.latitude %>, lng: <%= @to.longitude %> };
        var middle = { lat: <%= @middle[0] %>, lng: <%= @middle[1] %> };

        // マップの設定
        var map = new google.maps.Map(document.getElementById("map"), {
          center: middle,
          zoom: 2,
        });

        // ピンを表示(2点)
        var markerFrom = new google.maps.Marker({
                      position: from,
                      map: map,
                      opacity: 0.1,
                      icon: {
                        path: google.maps.SymbolPath.CIRCLE,
                        scaledSize: new google.maps.Size( 1, 1 ),
                      },
        });
        
        var markerTo= new google.maps.Marker({
                      position: to,
                      map: map,
                      animation: google.maps.Animation.BOUNCE,
        });

        // 吹き出し表示
        var userIcon = '<%= image_tag @trip.user.profile.icon.url, class: "map_icon"%>';

        var infowindow = new google.maps.InfoWindow({
            content: `${userIcon}`,
            anchor: markerFrom,
            disableAutoPan: true,
        });
        
      } 
    </script>

      <!-- 似ている掲示板-->
      <div class="similar_area">
        <p><i class="fas fa-search"></i> <%= @country.name_jp %>行きの他の旅行</p>
        <div class="list">
          <ul>
            <% @similar.each do |similar| %>
              <%= link_to trip_path(similar.id), data: {"turbolinks" => false} do %>
                <li><%= similar.title %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

  </article>


    <!-- コメント一覧-->
    <div class="comment__area">
      <!-- このcomments_areaというHTMLのidを取得して、このdivの中にあるHTMLの要素をJavaScript（Ajax）で書き換え -->
      <div id="comments_area">
        <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender パーシャルを表示 comments/_index.html.erb -->
        <%= render partial: 'comments/index', locals: { comments: @comments, trip: @trip } %>
      </div>
      <!-- コメント入力欄をブログの詳細ページに表示するためのrender パーシャルを表示 comments/_form.html.erb -->
      <%= render partial: 'comments/form', locals: { comment: @comment, trip: @trip } %>
    </div>
  
  
</div>

<% if @trip.user.id == current_user.id %>
  <p>
    <%= link_to t('Edit'), edit_trip_path(@trip) %> |
    <%= link_to t('Delete'), trip_path, method: :delete, data: { confirm: '本当に削除しますか？' } %>
  </p>
<% end %>

<p><%= link_to t('Back'), trips_path %></p>