<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "件") %>のエラーが見つかりました</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :icon %>
    <%= image_tag profile.icon.url, id: "img_prev" %>
    <%= form.hidden_field :icon_cache %>
    <%= form.file_field :icon, id: 'user_img' %>

    <script type="text/javascript">
      $(function() {
        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
            $('#img_prev').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
          }
        }
        $("#user_img").change(function(){
            readURL(this);
        });
      });
    </script>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <div class="gender_area clearfix">
    <%= form.collection_radio_buttons :gender, Profile.genders,:first, :first %></div>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <div class="birthday_area clearfix">
      <%= form.date_select :birthday, { 
                  start_year:Time.now.year-100,
                  end_year:Time.now.year,
                  prompt:"選択してください",
        } %>
    </div>
  </div>

  <div class="field">
    <%= form.label "居住地（国名まで必須）" %>
    <%= collection_select :place, :region, @regions, :id, :name_jp, include_blank: "エリアを選択してください", selected: params.dig(:place, :region) %>
    <%= select :place, :country, [], include_blank: "国を選択してください", class: "default-country-select" %>
    <%= select :place, :city, [], include_blank: "都市を選択してください", class: "default-city-select" %>
      <% @regions.each do |region| %>
        <template id="country-of-region_<%= region.id %>">
          <%= collection_select :place, :country, region.children, :id, :name_jp, include_blank: "国を選択してください", selected: params.dig(:place, :country) %>
        </template>
          <% region.children.each do |country| %>
            <template id="city-of-country_<%= country.id %>">
              <%= collection_select :place, :city, country.children, :id, :name_jp, include_blank: "都市を選択してください", selected: params.dig(:place, :city) %>
            </template>
          <% end %>
      <% end %>
    <div class="hint"><i class="far fa-lightbulb"></i> 都市がない場合は、自己紹介に書こう！</div>
  </div>

  <div class="field">
    <%= form.label :first_language %>
    <%= form.select :first_language,Profile.languages.keys, {prompt:"言語を選択"}%>
  </div>

  <div class="field">
    <%= form.label :second_language %>
    <%= form.select :second_language,Profile.languages.keys, {prompt:"言語を選択"}%>
  </div>

  <div class="field">
    <%= form.label :introduction %>
    <%= form.text_area :introduction, :placeholder => "渡航歴、他に話せる言語、趣味など（1000文字以内）" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btntextchange" %>
  </div>
<% end %>
