<%= form_with(model: [trip, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "件") %>のエラーが見つかりました</h2>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.text_area :content, id: "comment_content_#{trip.id}" %>
  </div>
  <div class="actions">
    <%= form.submit class:"btntextchange" %>
  </div>
<% end %>