<ul class="comment">
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <p>
          <%= image_tag comment.user.profile.icon.url %>
          <%= comment.user.name %>
        </p>

        <p>
          <%= comment.content %>
          <% if comment.user.id == current_user.id %>
            <%= link_to edit_trip_comment_path(trip, comment), remote: true do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to trip_comment_path(comment.trip_id, comment.id), method: :delete, remote: true,
                                          data: { confirm: "本当に削除しますか?"} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        </p>
          <div class="comment-content" id ="this_comment_<%= comment.id %>"></div>
      </li>
    <% end %>
  <% end %>
</ul>