<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
</head>

<div class="top_main">
  <div class="top_content">
    <div class="top_description">
      <div class="animate__animated animate__bounce animate__slow animate__delay-2s">
        <h1>Be a Traveler</h1>
        <h4>新しい旅の形 〜あなたの旅に"交流"を〜 🌏</h4>
      </div>
      <p>Ontripsは、一緒に観光する仲間を探し、また、現地の方とも繋がれるアプリです。</p>

      <% unless user_signed_in? %>
        <div class="top__button">
          <%= link_to new_user_session_path, class:"btntextchange" do %>
            <span>Log in</span><span>ログイン</span>
          <% end %>
          <%= link_to new_user_registration_path, class:"btntextchange" do %>
            <span>Sign up</span><span>新規登録</span>
          <% end %>
          <br>
          <%= link_to users_guest_sign_in_path, class:"btntextchange", method: :post do %>
            <span>Guest</span><span>ゲストログイン</span>
          <% end %>
          <%= link_to users_guest_admin_sign_in_path, class:"btntextchange", method: :post do %>
            <span>Guest Admin</span><span>ゲスト管理者ログイン</span>
          <% end %>
        </div>
      <% end %>

    </div>

    <div class="flexslider">
      <ul class="slides">
        <li><%= image_tag "machupicchu.jpg" %></li>
        <li><%= image_tag "newyork.jpg" %></li>
        <li><%= image_tag "opera.jpg" %></li>
        <li><%= image_tag "singapore.jpg" %></li>
        <li><%= image_tag "santorini.jpg" %></li>
      </ul>
    </div>
  </div>

  <div class="scrolldown4"><span>Scroll</span></div>
</div>

<div class="guide_area">
  <div class="guide_contents">
    <div class="guide">
      <%= image_tag "group.jpg" %>
      <div class="content">
        <h4>このアプリでは、一緒に観光する仲間、現地の方と事前に繋がることができます。</h4>
        <p>旅行が決まったら、掲示板に自分の旅の内容を投稿します。</p>
        <p>同じ期間、同じ場所に行く他のユーザーが投稿を見つけその旅のメンバーに参加すれば、あなたと参加したユーザーは、旅仲間となります。
        <p>このように世界中から旅仲間を探すことで、旅がさらに楽しいものになります。旅の中の一部だけ一緒に過ごす人も探せます。</p>
      </div>      
    </div>

    <div class="guide">
      <%= image_tag "topmap.jpg" %>
      <div class="content">
        <h4>旅行者としてだけでなく、ローカルとして旅に参加もできます。</h4>
        <p>自分の居住地を行き先とする旅の投稿を見つけたら、メンバーになって自分の街の魅力を旅行者に伝え、ガイドしてあげましょう。</p>
        <p>自分の街を訪れてくれた旅行者を案内することで、今まで気がつかなかった、当たり前と思っていた発見が生まれるかもしれません。</p>
        <p>また、これは旅行に行かなくても国際交流ができるチャンスです。</p>
        <p>そして世界中に友達が増え、次は自分が旅に出た時に案内してもらえるかもしれません。</p>
        <p>世界中に訪れる友達がいるなんて、とてもワクワクしませんか？</p>
      </div>
    </div>

    <div class="guide">
      <%= image_tag "mountain.jpg" %>
      <div class="content">
        <h4>新しい旅の形 〜あなたの旅に"交流"を〜 🌏</h4>
        <p>現地の方と交流し、その土地のことをもっと深く知ることで、あなたの旅はより非日常的なものになります。</p>
        <p>その体験はとても貴重で、あなたの人生を変えるきっかけになるかもしれません。</p>
        <p>もちろん、海外に行く機会がない方は、国内旅行でも利用できます。</p>
      </div>
    </div>

  </div>

  <h3>このアプリで、旅仲間を見つけ、世界中を旅しよう！！✈️🌏</h3>

  <% unless user_signed_in? %>
    <h3 class="start_your_trip">Start your Trip!!</h3>
    <div class="top__button">
      <%= link_to new_user_session_path, class:"btntextchange" do %>
        <span>Log in</span><span>ログイン</span>
      <% end %>
      <%= link_to new_user_registration_path, class:"btntextchange" do %>
        <span>Sign up</span><span>新規登録</span>
      <% end %>
      <%= link_to users_guest_sign_in_path, class:"btntextchange", method: :post do %>
        <span>Guest</span><span>ゲストログイン</span>
      <% end %>
      <%= link_to users_guest_admin_sign_in_path, class:"btntextchange", method: :post do %>
        <span>Guest Admin</span><span>ゲスト管理者ログイン</span>
      <% end %>
    </div>
  <% end %>
</div> 