<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag('favicon.ico') %>
    <title>Ontrips</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--==============flag icon css===============-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.9.0/css/flag-icon.css" rel="stylesheet">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/css/uikit.min.css" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--==============Maps Javascript===============-->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--==============chart kick===============-->
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <script>
      Chartkick.configure({language: "jp", mapsApiKey: "..."})
    </script>
    <!-- animation -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.5/dist/js/uikit-icons.min.js"></script>
    <!---スライドショー --->
    <script type="text/javascript" charset="utf-8">
      $(window).load(function() {
        $('.flexslider').flexslider({
          animation: "fade",
          slideshow: true,
          slideshowSpeed: 3000,
          animationSpeed: 3500,
          controlNav: false,
          randomize: true,
        });
      });
    </script>
  </head>

  <body>
    <div class="container">
    <% unless [tops_index_path, root_path].map{|page| current_page?(page)}.any? %>
      <header>
        <%= link_to image_tag("header_logo.png", alt: "logo"), tops_index_path, data: {"turbolinks" => false} %>    
    <% end %>
        <ul class="uk-iconnav uk uk-position-large uk-position-right", id="nav_list">
          <% if user_signed_in? %>
            <li><%= link_to profiles_path, title:"旅仲間を探す" do %><span uk-icon="icon: users; ratio: 1.6"><% end %></li>
            <li><%= link_to trips_path, title:"旅を検索する" do %><span uk-icon="icon: search; ratio: 1.6"><% end %></li>
            <li><%= link_to blogs_path, title:"旅プログを見る" do %><span uk-icon="icon: pencil; ratio: 1.6"><% end %></li>
            <li><%= link_to talks_path, title:"メッセージを見る" do %><span uk-icon="icon: mail; ratio: 1.6"><% end %></li>
            <li><%= link_to talks_path, title:"未読メッセージ" do %><span class="btn btn-danger"><%= unread_messages %></span><% end %></li>
          <% else %>
            <li><%= link_to new_user_registration_path, title:"新規登録" do %><span uk-icon="icon: user; ratio: 1.6"><% end %></li>
            <li><%= link_to new_user_session_path, title:"ログイン" do %><span uk-icon="icon: sign-in; ratio: 1.6"><% end %></li>
          <% end %>
        </ul>
      </header>

      <div class="login">
        <% if user_signed_in? %>
          <button class="uk-button uk-button-default uk-margin-left uk-margin-small-top" type="button" uk-toggle="target: #offcanvas-nav-primary" id="menu_window">
           <span uk-icon="chevron-left"></span> MENU 
          </button>

          <div id="offcanvas-nav-primary" uk-offcanvas="mode: push">
            <div class="uk-offcanvas-bar uk-flex uk-flex-column">
              <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                <li><%= link_to "旅仲間を探す", profiles_path, data: {"turbolinks" => false} %></li>
                <li><%= link_to "旅を検索する", trips_path, data: {"turbolinks" => false} %></li>
                <li><%= link_to "旅ブログを見る", blogs_path, data: {"turbolinks" => false} %></li>
                <li><%= link_to "メッセージを見る", talks_path, data: {"turbolinks" => false} %></li>
                <li><%= link_to "参加している旅", member_trips_path, data: {"turbolinks" => false} %></li>
                <li><%= link_to "お気に入りした旅", favorite_trips_path, data: {"turbolinks" => false} %></li>
                <li class="uk-nav-divider"></li>
                <li>
                  <%= link_to profile_path(current_user.id), data: {"turbolinks" => false} do %>
                    <span class="uk-margin-small-right" uk-icon="icon: user"></span>マイページ
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_user_registration_path, data: {"turbolinks" => false} do %>
                    <span class="uk-margin-small-right" uk-icon="icon: lock"></span>アカウント
                  <% end %>
                </li>
                <li>
                  <% if current_user.try(:admin?) %>
                    <%= link_to rails_admin_path, data: {"turbolinks" => false} do %>
                      <span class="uk-margin-small-right" uk-icon="icon: cog"></span>管理者ページ
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, id:"logout", data: { confirm: 'ログアウトしますか？' } do %>
                    <span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>ログアウト
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>

        <% if notice %>
          <p class="alert alert-notice"><i class="fas fa-check"></i> <%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-error"><i class="fas fa-exclamation-triangle"></i> <%= alert %></p>
        <% end %>

        <% unless [tops_index_path, root_path].map{|p| current_page?(p)}.any? %>
          <% if user_signed_in? %>
            <%= link_to profile_path(current_user.id), data: {"turbolinks" => false} do %>
              <% if current_user.profile.icon? %>
                <%= image_tag current_user.profile.icon.url%>
              <% else %>
                <%= image_tag asset_path("default_icon.png") %>
              <% end %>
              <%= current_user.name %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <%= yield %>

      <footer>
        <p>Copyright ©︎ 2021 Ontrips All Rights Reserved.</p>
      </footer>
    </div>
  </body>
</html>
